@font-face {
  font-family: 'Zapfino';
  src: url('/styles/fonts/ZapfinoExtraLT-One.eot');
  src: url('/styles/fonts/ZapfinoExtraLT-One.otf') format('otf'),
       url('/styles/fonts/ZapfinoExtraLT-One.woff') format('woff'), 

}
