body {
  background-color: $secondary-color;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  font-family: Papyrus;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}
.secondary-text {
  color: $secondary-color;
}

.primary-text {
  color: $primary-color;
}

#index-banner {
    background-image: url('/images/logo.inverse.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
    & h1 {
      font-family: "Zapfino", Papyrus;
      font-size: 10rem;
    }
}

